h1 {
    font-size: 65px;
    font-family: Helvetica;
    font-weight: bolder;
    text-align: center;
}
form { /*Form to add a Funko Pop to Collection */
    border: 5px solid black;
    background: whitesmoke;
    font-size: medium;
    box-shadow: 10px 10px;
    float:right;
}
button { /*button to add new Funko Pop*/
    text-align: center;
    font-size: 18px;
    font-weight: 700;
    font-family:Sans-serif;
    padding: 8px 5px;
    background: rgb(0, 113, 128);
}
.logo { /*Funko Pop Logo. Also Reset Collection Button */
    width: 500px;
    margin: auto;
    box-shadow: 5px 5px;
}
body {
    background: rgb(106, 159, 172);
    
}
img { /*Pictures for Collection Cards */
    background: whitesmoke;
    box-shadow: 10px 10px black;
    width: 250px;
    height:auto;
}


p {
    text-align: center;
}
.card {
    padding-bottom: 100px;
}
.fandomPics { /* Fandom Logos at the top of the page. Also buttons*/
    height: 50px;
    width: auto;
    margin: 5px;
    box-shadow: 2px 2px;
}