h1, h2, h3, h4{
    font-family: Helvetica;
}
h1 {
    font-size: 65px;
    font-weight: bolder;
    text-align: center;
}
h2{
    font-weight: bolder;
    font-size: 25px;
    height:0px;
}
h3{
    font-weight: bold;
    font-size: 20px;
    height: 0px;
}
h4{
    font-size: 10px;
    font-weight:lighter;
    visibility: hidden;
}
from, button, btn, .logo, .fandomPics, p.card{
    box-shadow: 2px 2px black;
    border: grey solid 2px;
}
form {
    background: whitesmoke;
    font-size: small;
    width: 500px;
    padding-top: 2.5px;
    padding-bottom: 2.5px;
    margin: auto;
    display:none;
}
select, label, input {
    width: 350px;
}

button, btn { 
    text-align: center;
    font-size: 12px;
    font-weight:lighter;
    font-family:Sans-serif;
    color: whitesmoke;
    padding: 8px 5px;
    background: rgb(19, 37, 39);
}

.logo {
    width: 500px;
    height: auto;
    margin: auto;
}
body {
    background: rgb(106, 159, 172);
    
}
img { 
    background: white;
    width: auto;
    height:250px;
    justify-self: center;
}
p {
    text-align: center;
}
#funko-pop-collection{
    margin: 2rem;
}
p.card {
    background: whitesmoke;
    text-align: center;
    padding: .5rem;
    display: inline-grid;
    margin: .5rem .5rem;
    width: 250px;
    height: 385px;
}
.fandomPics { /* Fandom Logos at the top of the page. Also buttons*/
    height: 50px;
    width: auto;
    margin: 5px;
    background: white;
}
